<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="CountryEditPage" lazy="true">
        <pm:header title="#{telusVoting.EditCountryTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{telusVoting.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:CountryListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="CountryEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{countryController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{telusVoting.EditCountryLabel_id}" for="id" />
                            <h:outputText id="id" value="#{countryController.selected.id}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.EditCountryLabel_code}" for="code" />
                            <p:inputText id="code" value="#{countryController.selected.code}" title="#{telusVoting.EditCountryTitle_code}" size="10" maxlength="10"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.EditCountryLabel_name}" for="name" />
                            <p:inputText id="name" value="#{countryController.selected.name}" title="#{telusVoting.EditCountryTitle_name}" size="45" maxlength="45"/>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{countryController.save}" value="#{telusVoting.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:CountryListPage:CountryListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:CountryListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>