<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="CountryViewPage" lazy="true">
        <pm:header title="#{telusVoting.ViewCountryTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{telusVoting.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:CountryListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="CountryViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{countryController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewCountryLabel_id}"/>
                            <h:outputText value="#{countryController.selected.id}" title="#{telusVoting.ViewCountryTitle_id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewCountryLabel_code}"/>
                            <h:outputText value="#{countryController.selected.code}" title="#{telusVoting.ViewCountryTitle_code}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewCountryLabel_name}"/>
                            <h:outputText value="#{countryController.selected.name}" title="#{telusVoting.ViewCountryTitle_name}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>