<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AreaCreateDlg" widgetVar="AreaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{telusVoting.CreateAreaTitle}" closeOnEscape="true">

            <h:form id="AreaCreateForm">

                <h:panelGroup id="display" rendered="#{areaController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{telusVoting.CreateAreaLabel_name}" for="name" />
                        <p:inputText id="name" value="#{areaController.selected.name}" title="#{telusVoting.CreateAreaTitle_name}" size="25" maxlength="25"/>

                        <p:outputLabel value="#{telusVoting.CreateAreaLabel_description}" for="description" />
                        <p:inputText id="description" value="#{areaController.selected.description}" title="#{telusVoting.CreateAreaTitle_description}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{telusVoting.CreateAreaLabel_countryId}" for="countryId" />
                        <p:selectOneMenu id="countryId" value="#{areaController.selected.countryId}" required="true" requiredMessage="#{telusVoting.CreateAreaRequiredMessage_countryId}" converter="countryConverter">
                            <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                            <f:selectItems value="#{countryController.items}"
                                           var="countryIdItem"
                                           itemValue="#{countryIdItem}"
                                           itemLabel="#{countryIdItem.name.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{areaController.saveNew}" value="#{telusVoting.Save}" update="display,:AreaListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('AreaCreateDialog'));">
                        <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{telusVoting.Cancel}" oncomplete="PF('AreaCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
