<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AreaViewDlg" widgetVar="AreaViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{telusVoting.ViewAreaTitle}" closeOnEscape="true">

            <h:form id="AreaViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{areaController.selected != null}">

                        <h:outputText value="#{telusVoting.ViewAreaLabel_id}"/>
                        <h:outputText value="#{areaController.selected.id}" title="#{telusVoting.ViewAreaTitle_id}"/>

                        <h:outputText value="#{telusVoting.ViewAreaLabel_name}"/>
                        <h:outputText value="#{areaController.selected.name}" title="#{telusVoting.ViewAreaTitle_name}"/>

                        <h:outputText value="#{telusVoting.ViewAreaLabel_description}"/>
                        <h:outputText value="#{areaController.selected.description}" title="#{telusVoting.ViewAreaTitle_description}"/>

                        <h:outputText value="#{telusVoting.ViewAreaLabel_countryId}"/>
                        <h:outputText value="#{areaController.selected.countryId.name}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{telusVoting.Close}" onclick="PF('AreaViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
