<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="VoteEditDlg" widgetVar="VoteEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{telusVoting.EditVoteTitle}" closeOnEscape="true">

            <h:form id="VoteEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{voteController.selected != null}">


                        <h:outputLabel value="#{telusVoting.EditVoteLabel_id}" for="id" />
                        <h:outputText id="id" value="#{voteController.selected.id}" />

                        <p:outputLabel value="#{telusVoting.EditVoteLabel_date}" for="date" />
                        <p:calendar id="date" pattern="MM/dd/yyyy" value="#{voteController.selected.date}" title="#{telusVoting.EditVoteTitle_date}"  showOn="button"/>

                        <p:outputLabel value="#{telusVoting.EditVoteLabel_electionId}" for="electionId" />
                        <p:selectOneMenu id="electionId" value="#{voteController.selected.electionId}" required="true" requiredMessage="#{telusVoting.EditVoteRequiredMessage_electionId}" converter="electionConverter">
                            <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                            <f:selectItems value="#{electionController.items}"
                                           var="electionIdItem"
                                           itemValue="#{electionIdItem}"
                                           itemLabel="#{electionIdItem.name.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{telusVoting.EditVoteLabel_candidateId}" for="candidateId" />
                        <p:selectOneMenu id="candidateId" value="#{voteController.selected.candidateId}" required="true" requiredMessage="#{telusVoting.EditVoteRequiredMessage_candidateId}" converter="candidateConverter">
                            <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                            <f:selectItems value="#{candidateController.items}"
                                           var="candidateIdItem"
                                           itemValue="#{candidateIdItem}"
                                           itemLabel="#{candidateIdItem.id.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{telusVoting.EditVoteLabel_personId}" for="personId" />
                        <p:selectOneMenu id="personId" value="#{voteController.selected.personId}" required="true" requiredMessage="#{telusVoting.EditVoteRequiredMessage_personId}" converter="personConverter">
                            <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                            <f:selectItems value="#{personController.items}"
                                           var="personIdItem"
                                           itemValue="#{personIdItem}"
                                           itemLabel="#{personIdItem.name.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{voteController.save}" value="#{telusVoting.Save}" update="display,:VoteListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('VoteEditDialog'));">
                        <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{telusVoting.Cancel}" oncomplete="PF('VoteEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
