<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="VoteListForm">

        <p:panel header="#{telusVoting.ListVoteTitle}">
            <p:contextMenu id="VoteDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{telusVoting.Create}" onclick="document.getElementById('VoteListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{telusVoting.View}" onclick="document.getElementById('VoteListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{telusVoting.Edit}" onclick="document.getElementById('VoteListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{telusVoting.Delete}" onclick="document.getElementById('VoteListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{telusVoting.VoteMenuItem_electionId}" icon="ui-icon-search"  actionListener="#{voteController.prepareElectionId}" update=":ElectionViewForm" oncomplete="PF('ElectionViewDialog').show()" disabled="#{empty voteController.selected.electionId}"/>  
                <p:menuitem value="#{telusVoting.VoteMenuItem_candidateId}" icon="ui-icon-search"  actionListener="#{voteController.prepareCandidateId}" update=":CandidateViewForm" oncomplete="PF('CandidateViewDialog').show()" disabled="#{empty voteController.selected.candidateId}"/>  
                <p:menuitem value="#{telusVoting.VoteMenuItem_personId}" icon="ui-icon-search"  actionListener="#{voteController.preparePersonId}" update=":PersonViewForm" oncomplete="PF('PersonViewDialog').show()" disabled="#{empty voteController.selected.personId}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{voteController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{voteController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{voteController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:VoteDataTableContextMenu" listener="#{voteController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:VoteDataTableContextMenu" listener="#{voteController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{voteController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('VoteListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListVoteTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.date}" filterBy="#{item.date}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListVoteTitle_date}"/>
                    </f:facet>
                    <h:outputText value="#{item.date}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.electionId.name}" filterBy="#{item.electionId.name}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListVoteTitle_electionId}"/>
                    </f:facet>
                    <h:outputText value="#{item.electionId.name}"/>
                </p:column>


                <p:column sortBy="#{item.candidateId.id}" filterBy="#{item.candidateId.id}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListVoteTitle_candidateId}"/>
                    </f:facet>
                    <h:outputText value="#{item.candidateId.id}"/>
                </p:column>


                <p:column sortBy="#{item.personId.name}" filterBy="#{item.personId.name}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListVoteTitle_personId}"/>
                    </f:facet>
                    <h:outputText value="#{item.personId.name}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{telusVoting.Create}" actionListener="#{voteController.prepareCreate}" update=":VoteCreateForm" oncomplete="PF('VoteCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{telusVoting.View}" update=":VoteViewForm" oncomplete="PF('VoteViewDialog').show()" disabled="#{empty voteController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{telusVoting.Edit}" update=":VoteEditForm" oncomplete="PF('VoteEditDialog').show()" disabled="#{empty voteController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{telusVoting.Delete}" actionListener="#{voteController.delete}" update=":growl,datalist" disabled="#{empty voteController.selected}">
                <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>