<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VoteViewDlg" widgetVar="VoteViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{telusVoting.ViewVoteTitle}" closeOnEscape="true">

            <h:form id="VoteViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{voteController.selected != null}">

                        <h:outputText value="#{telusVoting.ViewVoteLabel_id}"/>
                        <h:outputText value="#{voteController.selected.id}" title="#{telusVoting.ViewVoteTitle_id}"/>

                        <h:outputText value="#{telusVoting.ViewVoteLabel_date}"/>
                        <h:outputText value="#{voteController.selected.date}" title="#{telusVoting.ViewVoteTitle_date}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{telusVoting.ViewVoteLabel_electionId}"/>
                        <h:outputText value="#{voteController.selected.electionId.name}"/>

                        <h:outputText value="#{telusVoting.ViewVoteLabel_candidateId}"/>
                        <h:outputText value="#{voteController.selected.candidateId.id}"/>

                        <h:outputText value="#{telusVoting.ViewVoteLabel_personId}"/>
                        <h:outputText value="#{voteController.selected.personId.name}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{telusVoting.Close}" onclick="PF('VoteViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
