<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ElectionCreateDlg" widgetVar="ElectionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{telusVoting.CreateElectionTitle}" closeOnEscape="true">

            <h:form id="ElectionCreateForm">

                <h:panelGroup id="display" rendered="#{electionController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{telusVoting.CreateElectionLabel_name}" for="name" />
                        <p:inputText id="name" value="#{electionController.selected.name}" title="#{telusVoting.CreateElectionTitle_name}" size="25" maxlength="25"/>

                        <p:outputLabel value="#{telusVoting.CreateElectionLabel_description}" for="description" />
                        <p:inputText id="description" value="#{electionController.selected.description}" title="#{telusVoting.CreateElectionTitle_description}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{telusVoting.CreateElectionLabel_startDate}" for="startDate" />
                        <p:inputText id="startDate" value="#{electionController.selected.startDate}" title="#{telusVoting.CreateElectionTitle_startDate}" size="45" maxlength="45"/>

                        <p:outputLabel value="#{telusVoting.CreateElectionLabel_endDate}" for="endDate" />
                        <p:inputText id="endDate" value="#{electionController.selected.endDate}" title="#{telusVoting.CreateElectionTitle_endDate}" size="45" maxlength="45"/>

                        <p:outputLabel value="#{telusVoting.CreateElectionLabel_electionCategoryId}" for="electionCategoryId" />
                        <p:selectOneMenu id="electionCategoryId" value="#{electionController.selected.electionCategoryId}" required="true" requiredMessage="#{telusVoting.CreateElectionRequiredMessage_electionCategoryId}" converter="electionCategoryConverter">
                            <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                            <f:selectItems value="#{electionCategoryController.items}"
                                           var="electionCategoryIdItem"
                                           itemValue="#{electionCategoryIdItem}"
                                           itemLabel="#{electionCategoryIdItem.name.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{electionController.saveNew}" value="#{telusVoting.Save}" update="display,:ElectionListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ElectionCreateDialog'));">
                        <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{telusVoting.Cancel}" oncomplete="PF('ElectionCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
