<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ElectionEditDlg" widgetVar="ElectionEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{telusVoting.EditElectionTitle}" closeOnEscape="true">

            <h:form id="ElectionEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{electionController.selected != null}">


                        <h:outputLabel value="#{telusVoting.EditElectionLabel_id}" for="id" />
                        <h:outputText id="id" value="#{electionController.selected.id}" />

                        <p:outputLabel value="#{telusVoting.EditElectionLabel_name}" for="name" />
                        <p:inputText id="name" value="#{electionController.selected.name}" title="#{telusVoting.EditElectionTitle_name}" size="25" maxlength="25"/>

                        <p:outputLabel value="#{telusVoting.EditElectionLabel_description}" for="description" />
                        <p:inputText id="description" value="#{electionController.selected.description}" title="#{telusVoting.EditElectionTitle_description}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{telusVoting.EditElectionLabel_startDate}" for="startDate" />
                        <p:inputText id="startDate" value="#{electionController.selected.startDate}" title="#{telusVoting.EditElectionTitle_startDate}" size="45" maxlength="45"/>

                        <p:outputLabel value="#{telusVoting.EditElectionLabel_endDate}" for="endDate" />
                        <p:inputText id="endDate" value="#{electionController.selected.endDate}" title="#{telusVoting.EditElectionTitle_endDate}" size="45" maxlength="45"/>

                        <p:outputLabel value="#{telusVoting.EditElectionLabel_electionCategoryId}" for="electionCategoryId" />
                        <p:selectOneMenu id="electionCategoryId" value="#{electionController.selected.electionCategoryId}" required="true" requiredMessage="#{telusVoting.EditElectionRequiredMessage_electionCategoryId}" converter="electionCategoryConverter">
                            <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                            <f:selectItems value="#{electionCategoryController.items}"
                                           var="electionCategoryIdItem"
                                           itemValue="#{electionCategoryIdItem}"
                                           itemLabel="#{electionCategoryIdItem.name.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{electionController.save}" value="#{telusVoting.Save}" update="display,:ElectionListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ElectionEditDialog'));">
                        <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{telusVoting.Cancel}" oncomplete="PF('ElectionEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
