<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="ElectionListForm">

        <p:panel header="#{telusVoting.ListElectionTitle}">
            <p:contextMenu id="ElectionDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{telusVoting.Create}" onclick="document.getElementById('ElectionListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{telusVoting.View}" onclick="document.getElementById('ElectionListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{telusVoting.Edit}" onclick="document.getElementById('ElectionListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{telusVoting.Delete}" onclick="document.getElementById('ElectionListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{telusVoting.ElectionMenuItem_electionCategoryId}" icon="ui-icon-search"  actionListener="#{electionController.prepareElectionCategoryId}" update=":ElectionCategoryViewForm" oncomplete="PF('ElectionCategoryViewDialog').show()" disabled="#{empty electionController.selected.electionCategoryId}"/>  
                <p:menuitem value="#{telusVoting.ElectionMenuItem_voteList}" icon="ui-icon-search"  action="#{electionController.navigateVoteList}" disabled="#{empty electionController.selected.voteList}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{electionController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{electionController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{electionController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:ElectionDataTableContextMenu" listener="#{electionController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:ElectionDataTableContextMenu" listener="#{electionController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{electionController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('ElectionListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListElectionTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.name}" filterBy="#{item.name}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListElectionTitle_name}"/>
                    </f:facet>
                    <h:outputText value="#{item.name}"/>
                </p:column>


                <p:column sortBy="#{item.description}" filterBy="#{item.description}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListElectionTitle_description}"/>
                    </f:facet>
                    <h:outputText value="#{item.description}"/>
                </p:column>


                <p:column sortBy="#{item.startDate}" filterBy="#{item.startDate}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListElectionTitle_startDate}"/>
                    </f:facet>
                    <h:outputText value="#{item.startDate}"/>
                </p:column>


                <p:column sortBy="#{item.endDate}" filterBy="#{item.endDate}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListElectionTitle_endDate}"/>
                    </f:facet>
                    <h:outputText value="#{item.endDate}"/>
                </p:column>


                <p:column sortBy="#{item.electionCategoryId.name}" filterBy="#{item.electionCategoryId.name}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListElectionTitle_electionCategoryId}"/>
                    </f:facet>
                    <h:outputText value="#{item.electionCategoryId.name}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{telusVoting.Create}" actionListener="#{electionController.prepareCreate}" update=":ElectionCreateForm" oncomplete="PF('ElectionCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{telusVoting.View}" update=":ElectionViewForm" oncomplete="PF('ElectionViewDialog').show()" disabled="#{empty electionController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{telusVoting.Edit}" update=":ElectionEditForm" oncomplete="PF('ElectionEditDialog').show()" disabled="#{empty electionController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{telusVoting.Delete}" actionListener="#{electionController.delete}" update=":growl,datalist" disabled="#{empty electionController.selected}">
                <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>