<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ElectionViewDlg" widgetVar="ElectionViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{telusVoting.ViewElectionTitle}" closeOnEscape="true">

            <h:form id="ElectionViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{electionController.selected != null}">

                        <h:outputText value="#{telusVoting.ViewElectionLabel_id}"/>
                        <h:outputText value="#{electionController.selected.id}" title="#{telusVoting.ViewElectionTitle_id}"/>

                        <h:outputText value="#{telusVoting.ViewElectionLabel_name}"/>
                        <h:outputText value="#{electionController.selected.name}" title="#{telusVoting.ViewElectionTitle_name}"/>

                        <h:outputText value="#{telusVoting.ViewElectionLabel_description}"/>
                        <h:outputText value="#{electionController.selected.description}" title="#{telusVoting.ViewElectionTitle_description}"/>

                        <h:outputText value="#{telusVoting.ViewElectionLabel_startDate}"/>
                        <h:outputText value="#{electionController.selected.startDate}" title="#{telusVoting.ViewElectionTitle_startDate}"/>

                        <h:outputText value="#{telusVoting.ViewElectionLabel_endDate}"/>
                        <h:outputText value="#{electionController.selected.endDate}" title="#{telusVoting.ViewElectionTitle_endDate}"/>

                        <h:outputText value="#{telusVoting.ViewElectionLabel_electionCategoryId}"/>
                        <h:outputText value="#{electionController.selected.electionCategoryId.name}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{telusVoting.Close}" onclick="PF('ElectionViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
