<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CommitteeCreateDlg" widgetVar="CommitteeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{telusVoting.CreateCommitteeTitle}" closeOnEscape="true">

            <h:form id="CommitteeCreateForm">

                <h:panelGroup id="display" rendered="#{committeeController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{telusVoting.CreateCommitteeLabel_name}" for="name" />
                        <p:inputText id="name" value="#{committeeController.selected.name}" title="#{telusVoting.CreateCommitteeTitle_name}" size="45" maxlength="45"/>

                        <p:outputLabel value="#{telusVoting.CreateCommitteeLabel_departmentId}" for="departmentId" />
                        <p:selectOneMenu id="departmentId" value="#{committeeController.selected.departmentId}" required="true" requiredMessage="#{telusVoting.CreateCommitteeRequiredMessage_departmentId}" converter="departmentConverter">
                            <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                            <f:selectItems value="#{departmentController.items}"
                                           var="departmentIdItem"
                                           itemValue="#{departmentIdItem}"
                                           itemLabel="#{departmentIdItem.name.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{committeeController.saveNew}" value="#{telusVoting.Save}" update="display,:CommitteeListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('CommitteeCreateDialog'));">
                        <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{telusVoting.Cancel}" oncomplete="PF('CommitteeCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
