<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="CommitteeEditDlg" widgetVar="CommitteeEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{telusVoting.EditCommitteeTitle}" closeOnEscape="true">

            <h:form id="CommitteeEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{committeeController.selected != null}">


                        <h:outputLabel value="#{telusVoting.EditCommitteeLabel_id}" for="id" />
                        <h:outputText id="id" value="#{committeeController.selected.id}" />

                        <p:outputLabel value="#{telusVoting.EditCommitteeLabel_name}" for="name" />
                        <p:inputText id="name" value="#{committeeController.selected.name}" title="#{telusVoting.EditCommitteeTitle_name}" size="45" maxlength="45"/>

                        <p:outputLabel value="#{telusVoting.EditCommitteeLabel_departmentId}" for="departmentId" />
                        <p:selectOneMenu id="departmentId" value="#{committeeController.selected.departmentId}" required="true" requiredMessage="#{telusVoting.EditCommitteeRequiredMessage_departmentId}" converter="departmentConverter">
                            <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                            <f:selectItems value="#{departmentController.items}"
                                           var="departmentIdItem"
                                           itemValue="#{departmentIdItem}"
                                           itemLabel="#{departmentIdItem.name.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{committeeController.save}" value="#{telusVoting.Save}" update="display,:CommitteeListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('CommitteeEditDialog'));">
                        <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{telusVoting.Cancel}" oncomplete="PF('CommitteeEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
