<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="CommitteeListForm">

        <p:panel header="#{telusVoting.ListCommitteeTitle}">
            <p:contextMenu id="CommitteeDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{telusVoting.Create}" onclick="document.getElementById('CommitteeListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{telusVoting.View}" onclick="document.getElementById('CommitteeListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{telusVoting.Edit}" onclick="document.getElementById('CommitteeListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{telusVoting.Delete}" onclick="document.getElementById('CommitteeListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{telusVoting.CommitteeMenuItem_candidateList}" icon="ui-icon-search"  action="#{committeeController.navigateCandidateList}" disabled="#{empty committeeController.selected.candidateList}" ajax="false"/>  
                <p:menuitem value="#{telusVoting.CommitteeMenuItem_departmentId}" icon="ui-icon-search"  actionListener="#{committeeController.prepareDepartmentId}" update=":DepartmentViewForm" oncomplete="PF('DepartmentViewDialog').show()" disabled="#{empty committeeController.selected.departmentId}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{committeeController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{committeeController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{committeeController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:CommitteeDataTableContextMenu" listener="#{committeeController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:CommitteeDataTableContextMenu" listener="#{committeeController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{committeeController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('CommitteeListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListCommitteeTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.name}" filterBy="#{item.name}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListCommitteeTitle_name}"/>
                    </f:facet>
                    <h:outputText value="#{item.name}"/>
                </p:column>


                <p:column sortBy="#{item.departmentId.name}" filterBy="#{item.departmentId.name}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListCommitteeTitle_departmentId}"/>
                    </f:facet>
                    <h:outputText value="#{item.departmentId.name}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{telusVoting.Create}" actionListener="#{committeeController.prepareCreate}" update=":CommitteeCreateForm" oncomplete="PF('CommitteeCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{telusVoting.View}" update=":CommitteeViewForm" oncomplete="PF('CommitteeViewDialog').show()" disabled="#{empty committeeController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{telusVoting.Edit}" update=":CommitteeEditForm" oncomplete="PF('CommitteeEditDialog').show()" disabled="#{empty committeeController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{telusVoting.Delete}" actionListener="#{committeeController.delete}" update=":growl,datalist" disabled="#{empty committeeController.selected}">
                <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>