<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CommitteeViewDlg" widgetVar="CommitteeViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{telusVoting.ViewCommitteeTitle}" closeOnEscape="true">

            <h:form id="CommitteeViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{committeeController.selected != null}">

                        <h:outputText value="#{telusVoting.ViewCommitteeLabel_id}"/>
                        <h:outputText value="#{committeeController.selected.id}" title="#{telusVoting.ViewCommitteeTitle_id}"/>

                        <h:outputText value="#{telusVoting.ViewCommitteeLabel_name}"/>
                        <h:outputText value="#{committeeController.selected.name}" title="#{telusVoting.ViewCommitteeTitle_name}"/>

                        <h:outputText value="#{telusVoting.ViewCommitteeLabel_departmentId}"/>
                        <h:outputText value="#{committeeController.selected.departmentId.name}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{telusVoting.Close}" onclick="PF('CommitteeViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
