<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <h:form id="menuForm">
        <p:menu>
            <p:submenu label="#{telusVoting.Maintenance}">
                <p:menuitem value="#{telusVoting.AreaHeading}..." outcome="/maintenance-mobile/area/index" />
                <p:menuitem value="#{telusVoting.CandidateHeading}..." outcome="/maintenance-mobile/candidate/index" />
                <p:menuitem value="#{telusVoting.CommitteeHeading}..." outcome="/maintenance-mobile/committee/index" />
                <p:menuitem value="#{telusVoting.CountryHeading}..." outcome="/maintenance-mobile/country/index" />
                <p:menuitem value="#{telusVoting.DepartmentHeading}..." outcome="/maintenance-mobile/department/index" />
                <p:menuitem value="#{telusVoting.ElectionHeading}..." outcome="/maintenance-mobile/election/index" />
                <p:menuitem value="#{telusVoting.ElectionCategoryHeading}..." outcome="/maintenance-mobile/electionCategory/index" />
                <p:menuitem value="#{telusVoting.PersonHeading}..." outcome="/maintenance-mobile/person/index" />
                <p:menuitem value="#{telusVoting.VoteHeading}..." outcome="/maintenance-mobile/vote/index" />
            </p:submenu>
            <p:menuitem value="#{telusVoting.FullApp}" outcome="/index" icon="ui-icon-home"/>
        </p:menu>
    </h:form>
</ui:composition>
