<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/maintenance/voter_template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{telusVoting.Vote}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <p:dialog header="VOTE!" widgetVar="dlg" resizable="false" visible="true" closable="false">
                
                <h:form id="voteForm">

                    <h:panelGroup id="display" rendered="#{voteController.selected != null}">
                        <p:panelGrid columns="2" columnClasses="column">

                            <p:outputLabel value="STEP 1: Select Committee" for="committeeId" />
                            <p:selectOneMenu id="committeeId" value="#{voteController.selectedCommittee}" required="true" requiredMessage="#{telusVoting.CreateCandidateRequiredMessage_committeeId}" converter="committeeConverter">
                                <p:ajax listener="#{voteController.onCommitteeChange()}" update="candidateId"/>
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{voteController.commiteeList}"
                                               var="committeeIdItem"
                                               itemValue="#{committeeIdItem}"
                                               itemLabel="#{committeeIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>

                            <p:outputLabel value="STEP 2: Select Candidate" for="candidateId" />
                            <p:selectOneMenu id="candidateId" value="#{voteController.selectedCandidate}" required="true" requiredMessage="#{telusVoting.CreateVoteRequiredMessage_candidateId}" converter="candidateConverter">
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{voteController.candidateList}"
                                               var="candidateIdItem"
                                               itemValue="#{candidateIdItem}"
                                               itemLabel="#{candidateIdItem.personId.name.toString()}"
                                               />

                            </p:selectOneMenu>


                        </p:panelGrid>
                        <p:commandButton actionListener="#{voteController.vote}" value="#{telusVoting.Save}" update="display,:growl" >
                            <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                        </p:commandButton>

                        <p:commandButton value="#{telusVoting.Cancel}"  update="display" process="@this" immediate="true" resetValues="true"/>
                    </h:panelGroup>

                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog>

                </h:form>
            </p:dialog>
        </ui:define>




    </ui:composition>

</html>
