<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <h:form id="menuForm">
            <p:menubar>
                <p:menuitem value="#{telusVoting.Home}" outcome="/admin_index" icon="ui-icon-home"/>
                <p:menuitem value="#{telusVoting.Stats}" outcome="/stats/stats" icon="ui-icon-contact"/>
                <p:submenu label="#{telusVoting.Maintenance}">
                    <p:menuitem value="#{telusVoting.AreaHeading}..." outcome="/maintenance/area/index" />
                    <p:menuitem value="#{telusVoting.CandidateHeading}..." outcome="/maintenance/candidate/index" />
                    <p:menuitem value="#{telusVoting.CommitteeHeading}..." outcome="/maintenance/committee/index" />
                    <p:menuitem value="#{telusVoting.CountryHeading}..." outcome="/maintenance/country/index" />
                    <p:menuitem value="#{telusVoting.DepartmentHeading}..." outcome="/maintenance/department/index" />
                    <p:menuitem value="#{telusVoting.ElectionHeading}..." outcome="/maintenance/election/index" />
                    <p:menuitem value="#{telusVoting.ElectionCategoryHeading}..." outcome="/maintenance/electionCategory/index" />
                    <p:menuitem value="#{telusVoting.PersonHeading}..." outcome="/maintenance/person/index" />
                    <p:menuitem value="#{telusVoting.VoteHeading}..." outcome="/maintenance/vote/index" />
                </p:submenu>
                <p:menuitem value="Close Session" outcome="/faces/CerrarSesion.jsp" icon="ui-icon-close"/>
            </p:menubar>
        </h:form>
    </ui:composition>

</html>