<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <h:form id="menuForm">
            <p:menubar>
                <p:menuitem value="#{telusVoting.Home}" outcome="/voter_index" icon="ui-icon-home"/>
                <p:menuitem value="#{telusVoting.Vote}" outcome="/voting/voting" icon="ui-icon-check"/>
                <p:menuitem value="#{telusVoting.Stats}" outcome="/stats/voter_stats" icon="ui-icon-contact"/>
                <p:menuitem value="Close Session" outcome="/faces/CerrarSesion.jsp" icon="ui-icon-close"/>
            </p:menubar>
        </h:form>
    </ui:composition>

</html>