<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/maintenance/login_template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{telusVoting.Register}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <p:dialog header="VOTER REGISTERING" widgetVar="dlg" resizable="false" visible="true" closable="false">
               
                <h:form id="PersonCreateForm" >

                    <h:panelGroup id="display">
                        <p:panelGrid columns="2" columnClasses="column">

                            <p:outputLabel value="STEP 1: Unique Identifier Document Number" for="uid" />
                            <p:inputText id="uid" value="#{personController.selected.uid}" title="#{telusVoting.CreatePersonTitle_uid}" required="true" size="30" maxlength="30"/>

                            <p:outputLabel value="STEP 2: Password" for="password" />
                            <p:password id="password" value="#{personController.selected.password}" title="#{telusVoting.CreatePersonTitle_password}" feedback="true"  inline="true" required="true" size="20" maxlength="20"/>

                            <p:outputLabel value="STEP 3: Names" for="name" />
                            <p:inputText id="name" value="#{personController.selected.name}" title="#{telusVoting.CreatePersonTitle_name}" required="true" size="45" maxlength="45"/>

                            <p:outputLabel value="STEP 4: Surnames" for="surname" />
                            <p:inputText id="surname" value="#{personController.selected.surname}" title="#{telusVoting.CreatePersonTitle_surname}" required="true" size="45" maxlength="45"/>

                            <p:outputLabel value="STEP 5: Country" for="countryId" />
                            <p:selectOneMenu id="countryId" value="#{personController.selectedCountry}" required="true" requiredMessage="#{telusVoting.CreateAreaRequiredMessage_countryId}" converter="countryConverter">
                                <p:ajax listener="#{personController.onCountryChange()}" update="areaId"/>
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{countryController.items}"
                                               var="countryIdItem"
                                               itemValue="#{countryIdItem}"
                                               itemLabel="#{countryIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>

                            <p:outputLabel value="STEP 6: Area" for="countryId" />
                            <p:selectOneMenu id="areaId" value="#{personController.selectedArea}" required="true" requiredMessage="#{telusVoting.CreateDepartmentRequiredMessage_areaId}" converter="areaConverter">
                                <p:ajax listener="#{personController.onAreaChange()}" update="departmentId"/>
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{personController.areaList}"
                                               var="areaIdItem"
                                               itemValue="#{areaIdItem}"
                                               itemLabel="#{areaIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>

                            <p:outputLabel value="STEP 7: Department" for="departmentId" />
                            <p:selectOneMenu id="departmentId" value="#{personController.selected.departmentId}" required="true" requiredMessage="#{telusVoting.CreatePersonRequiredMessage_departmentId}" converter="departmentConverter">
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{personController.departmentList}"
                                               var="departmentIdItem"
                                               itemValue="#{departmentIdItem}"
                                               itemLabel="#{departmentIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </p:panelGrid>

                        <h:panelGrid columns="3" cellpadding="5">
                            <p:button value="Back" outcome="/login/login.xhtml" />
                            <p:commandButton id="saveButton" type="submit"  actionListener="#{personController.saveNew}"  value="#{telusVoting.Save}" update="display,:growl">
                                <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                            </p:commandButton>
                            <p:commandButton value="#{telusVoting.Cancel}"  update="display" process="@this" immediate="true" resetValues="true"/>
                        </h:panelGrid>

                    </h:panelGroup>
                </h:form>

                <h:form>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog>
                </h:form>
            </p:dialog>
        </ui:define>




    </ui:composition>

</html>