<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="PersonCreatePage" lazy="true">
        <pm:header title="#{telusVoting.CreatePersonTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{telusVoting.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:PersonListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="PersonCreateForm">

                <h:panelGroup id="display" rendered="#{personController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.CreatePersonLabel_uid}" for="uid" />
                            <p:inputText id="uid" value="#{personController.selected.uid}" title="#{telusVoting.CreatePersonTitle_uid}" size="30" maxlength="30"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.CreatePersonLabel_password}" for="password" />
                            <p:inputText id="password" value="#{personController.selected.password}" title="#{telusVoting.CreatePersonTitle_password}" size="20" maxlength="20"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.CreatePersonLabel_name}" for="name" />
                            <p:inputText id="name" value="#{personController.selected.name}" title="#{telusVoting.CreatePersonTitle_name}" size="45" maxlength="45"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.CreatePersonLabel_surname}" for="surname" />
                            <p:inputText id="surname" value="#{personController.selected.surname}" title="#{telusVoting.CreatePersonTitle_surname}" size="45" maxlength="45"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.CreatePersonLabel_departmentId}" for="departmentId" />
                            <p:selectOneMenu id="departmentId" value="#{personController.selected.departmentId}" required="true" requiredMessage="#{telusVoting.CreatePersonRequiredMessage_departmentId}" converter="departmentConverter">
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{departmentController.items}"
                                               var="departmentIdItem"
                                               itemValue="#{departmentIdItem}"
                                               itemLabel="#{departmentIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{personController.saveNew}" value="#{telusVoting.Save}" update="display,:PersonListPage:PersonListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:PersonListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>