<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="PersonEditPage" lazy="true">
        <pm:header title="#{telusVoting.EditPersonTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{telusVoting.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:PersonListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="PersonEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{personController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{telusVoting.EditPersonLabel_id}" for="id" />
                            <h:outputText id="id" value="#{personController.selected.id}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.EditPersonLabel_uid}" for="uid" />
                            <p:inputText id="uid" value="#{personController.selected.uid}" title="#{telusVoting.EditPersonTitle_uid}" size="30" maxlength="30"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.EditPersonLabel_password}" for="password" />
                            <p:inputText id="password" value="#{personController.selected.password}" title="#{telusVoting.EditPersonTitle_password}" size="20" maxlength="20"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.EditPersonLabel_name}" for="name" />
                            <p:inputText id="name" value="#{personController.selected.name}" title="#{telusVoting.EditPersonTitle_name}" size="45" maxlength="45"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.EditPersonLabel_surname}" for="surname" />
                            <p:inputText id="surname" value="#{personController.selected.surname}" title="#{telusVoting.EditPersonTitle_surname}" size="45" maxlength="45"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.EditPersonLabel_departmentId}" for="departmentId" />
                            <p:selectOneMenu id="departmentId" value="#{personController.selected.departmentId}" required="true" requiredMessage="#{telusVoting.EditPersonRequiredMessage_departmentId}" converter="departmentConverter">
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{departmentController.items}"
                                               var="departmentIdItem"
                                               itemValue="#{departmentIdItem}"
                                               itemLabel="#{departmentIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{personController.save}" value="#{telusVoting.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:PersonListPage:PersonListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:PersonListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>