<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="PersonViewPage" lazy="true">
        <pm:header title="#{telusVoting.ViewPersonTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{telusVoting.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:PersonListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="PersonViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{personController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewPersonLabel_id}"/>
                            <h:outputText value="#{personController.selected.id}" title="#{telusVoting.ViewPersonTitle_id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewPersonLabel_uid}"/>
                            <h:outputText value="#{personController.selected.uid}" title="#{telusVoting.ViewPersonTitle_uid}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewPersonLabel_password}"/>
                            <h:outputText value="#{personController.selected.password}" title="#{telusVoting.ViewPersonTitle_password}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewPersonLabel_name}"/>
                            <h:outputText value="#{personController.selected.name}" title="#{telusVoting.ViewPersonTitle_name}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewPersonLabel_surname}"/>
                            <h:outputText value="#{personController.selected.surname}" title="#{telusVoting.ViewPersonTitle_surname}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewPersonLabel_departmentId}"/>
                            <h:outputText value="#{personController.selected.departmentId.name}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>