<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="ElectionCategoryEditPage" lazy="true">
        <pm:header title="#{telusVoting.EditElectionCategoryTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{telusVoting.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:ElectionCategoryListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="ElectionCategoryEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{electionCategoryController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{telusVoting.EditElectionCategoryLabel_id}" for="id" />
                            <h:outputText id="id" value="#{electionCategoryController.selected.id}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.EditElectionCategoryLabel_name}" for="name" />
                            <p:inputText id="name" value="#{electionCategoryController.selected.name}" title="#{telusVoting.EditElectionCategoryTitle_name}" size="20" maxlength="20"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.EditElectionCategoryLabel_description}" for="description" />
                            <p:inputText id="description" value="#{electionCategoryController.selected.description}" title="#{telusVoting.EditElectionCategoryTitle_description}" size="50" maxlength="50"/>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{electionCategoryController.save}" value="#{telusVoting.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:ElectionCategoryListPage:ElectionCategoryListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:ElectionCategoryListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>