<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="ElectionCreatePage" lazy="true">
        <pm:header title="#{telusVoting.CreateElectionTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{telusVoting.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:ElectionListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="ElectionCreateForm">

                <h:panelGroup id="display" rendered="#{electionController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.CreateElectionLabel_name}" for="name" />
                            <p:inputText id="name" value="#{electionController.selected.name}" title="#{telusVoting.CreateElectionTitle_name}" size="25" maxlength="25"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.CreateElectionLabel_description}" for="description" />
                            <p:inputText id="description" value="#{electionController.selected.description}" title="#{telusVoting.CreateElectionTitle_description}" size="50" maxlength="50"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.CreateElectionLabel_startDate}" for="startDate" />
                            <p:inputText id="startDate" value="#{electionController.selected.startDate}" title="#{telusVoting.CreateElectionTitle_startDate}" size="45" maxlength="45"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.CreateElectionLabel_endDate}" for="endDate" />
                            <p:inputText id="endDate" value="#{electionController.selected.endDate}" title="#{telusVoting.CreateElectionTitle_endDate}" size="45" maxlength="45"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.CreateElectionLabel_electionCategoryId}" for="electionCategoryId" />
                            <p:selectOneMenu id="electionCategoryId" value="#{electionController.selected.electionCategoryId}" required="true" requiredMessage="#{telusVoting.CreateElectionRequiredMessage_electionCategoryId}" converter="electionCategoryConverter">
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{electionCategoryController.items}"
                                               var="electionCategoryIdItem"
                                               itemValue="#{electionCategoryIdItem}"
                                               itemLabel="#{electionCategoryIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{electionController.saveNew}" value="#{telusVoting.Save}" update="display,:ElectionListPage:ElectionListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:ElectionListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>