<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="ElectionViewPage" lazy="true">
        <pm:header title="#{telusVoting.ViewElectionTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{telusVoting.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:ElectionListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="ElectionViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{electionController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewElectionLabel_id}"/>
                            <h:outputText value="#{electionController.selected.id}" title="#{telusVoting.ViewElectionTitle_id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewElectionLabel_name}"/>
                            <h:outputText value="#{electionController.selected.name}" title="#{telusVoting.ViewElectionTitle_name}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewElectionLabel_description}"/>
                            <h:outputText value="#{electionController.selected.description}" title="#{telusVoting.ViewElectionTitle_description}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewElectionLabel_startDate}"/>
                            <h:outputText value="#{electionController.selected.startDate}" title="#{telusVoting.ViewElectionTitle_startDate}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewElectionLabel_endDate}"/>
                            <h:outputText value="#{electionController.selected.endDate}" title="#{telusVoting.ViewElectionTitle_endDate}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewElectionLabel_electionCategoryId}"/>
                            <h:outputText value="#{electionController.selected.electionCategoryId.name}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>