<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="DepartmentEditPage" lazy="true">
        <pm:header title="#{telusVoting.EditDepartmentTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{telusVoting.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:DepartmentListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="DepartmentEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{departmentController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{telusVoting.EditDepartmentLabel_id}" for="id" />
                            <h:outputText id="id" value="#{departmentController.selected.id}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.EditDepartmentLabel_name}" for="name" />
                            <p:inputText id="name" value="#{departmentController.selected.name}" title="#{telusVoting.EditDepartmentTitle_name}" size="25" maxlength="25"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.EditDepartmentLabel_areaId}" for="areaId" />
                            <p:selectOneMenu id="areaId" value="#{departmentController.selected.areaId}" required="true" requiredMessage="#{telusVoting.EditDepartmentRequiredMessage_areaId}" converter="areaConverter">
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{areaController.items}"
                                               var="areaIdItem"
                                               itemValue="#{areaIdItem}"
                                               itemLabel="#{areaIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{departmentController.save}" value="#{telusVoting.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:DepartmentListPage:DepartmentListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:DepartmentListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>