<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="DepartmentViewPage" lazy="true">
        <pm:header title="#{telusVoting.ViewDepartmentTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{telusVoting.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:DepartmentListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="DepartmentViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{departmentController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewDepartmentLabel_id}"/>
                            <h:outputText value="#{departmentController.selected.id}" title="#{telusVoting.ViewDepartmentTitle_id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewDepartmentLabel_name}"/>
                            <h:outputText value="#{departmentController.selected.name}" title="#{telusVoting.ViewDepartmentTitle_name}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewDepartmentLabel_areaId}"/>
                            <h:outputText value="#{departmentController.selected.areaId.name}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>