<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="AreaCreatePage" lazy="true">
        <pm:header title="#{telusVoting.CreateAreaTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{telusVoting.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:AreaListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="AreaCreateForm">

                <h:panelGroup id="display" rendered="#{areaController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.CreateAreaLabel_name}" for="name" />
                            <p:inputText id="name" value="#{areaController.selected.name}" title="#{telusVoting.CreateAreaTitle_name}" size="25" maxlength="25"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.CreateAreaLabel_description}" for="description" />
                            <p:inputText id="description" value="#{areaController.selected.description}" title="#{telusVoting.CreateAreaTitle_description}" size="50" maxlength="50"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.CreateAreaLabel_countryId}" for="countryId" />
                            <p:selectOneMenu id="countryId" value="#{areaController.selected.countryId}" required="true" requiredMessage="#{telusVoting.CreateAreaRequiredMessage_countryId}" converter="countryConverter">
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{countryController.items}"
                                               var="countryIdItem"
                                               itemValue="#{countryIdItem}"
                                               itemLabel="#{countryIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{areaController.saveNew}" value="#{telusVoting.Save}" update="display,:AreaListPage:AreaListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:AreaListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>