<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="AreaViewPage" lazy="true">
        <pm:header title="#{telusVoting.ViewAreaTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{telusVoting.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:AreaListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="AreaViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{areaController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewAreaLabel_id}"/>
                            <h:outputText value="#{areaController.selected.id}" title="#{telusVoting.ViewAreaTitle_id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewAreaLabel_name}"/>
                            <h:outputText value="#{areaController.selected.name}" title="#{telusVoting.ViewAreaTitle_name}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewAreaLabel_description}"/>
                            <h:outputText value="#{areaController.selected.description}" title="#{telusVoting.ViewAreaTitle_description}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewAreaLabel_countryId}"/>
                            <h:outputText value="#{areaController.selected.countryId.name}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>