<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DepartmentCreateDlg" widgetVar="DepartmentCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{telusVoting.CreateDepartmentTitle}" closeOnEscape="true">

            <h:form id="DepartmentCreateForm">

                <h:panelGroup id="display" rendered="#{departmentController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{telusVoting.CreateDepartmentLabel_name}" for="name" />
                        <p:inputText id="name" value="#{departmentController.selected.name}" title="#{telusVoting.CreateDepartmentTitle_name}" size="25" maxlength="25"/>

                        <p:outputLabel value="#{telusVoting.CreateDepartmentLabel_areaId}" for="areaId" />
                        <p:selectOneMenu id="areaId" value="#{departmentController.selected.areaId}" required="true" requiredMessage="#{telusVoting.CreateDepartmentRequiredMessage_areaId}" converter="areaConverter">
                            <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                            <f:selectItems value="#{areaController.items}"
                                           var="areaIdItem"
                                           itemValue="#{areaIdItem}"
                                           itemLabel="#{areaIdItem.name.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{departmentController.saveNew}" value="#{telusVoting.Save}" update="display,:DepartmentListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('DepartmentCreateDialog'));">
                        <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{telusVoting.Cancel}" oncomplete="PF('DepartmentCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
