<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="DepartmentEditDlg" widgetVar="DepartmentEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{telusVoting.EditDepartmentTitle}" closeOnEscape="true">

            <h:form id="DepartmentEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{departmentController.selected != null}">


                        <h:outputLabel value="#{telusVoting.EditDepartmentLabel_id}" for="id" />
                        <h:outputText id="id" value="#{departmentController.selected.id}" />

                        <p:outputLabel value="#{telusVoting.EditDepartmentLabel_name}" for="name" />
                        <p:inputText id="name" value="#{departmentController.selected.name}" title="#{telusVoting.EditDepartmentTitle_name}" size="25" maxlength="25"/>

                        <p:outputLabel value="#{telusVoting.EditDepartmentLabel_areaId}" for="areaId" />
                        <p:selectOneMenu id="areaId" value="#{departmentController.selected.areaId}" required="true" requiredMessage="#{telusVoting.EditDepartmentRequiredMessage_areaId}" converter="areaConverter">
                            <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                            <f:selectItems value="#{areaController.items}"
                                           var="areaIdItem"
                                           itemValue="#{areaIdItem}"
                                           itemLabel="#{areaIdItem.name.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{departmentController.save}" value="#{telusVoting.Save}" update="display,:DepartmentListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('DepartmentEditDialog'));">
                        <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{telusVoting.Cancel}" oncomplete="PF('DepartmentEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
