<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="DepartmentListForm">

        <p:panel header="#{telusVoting.ListDepartmentTitle}">
            <p:contextMenu id="DepartmentDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{telusVoting.Create}" onclick="document.getElementById('DepartmentListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{telusVoting.View}" onclick="document.getElementById('DepartmentListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{telusVoting.Edit}" onclick="document.getElementById('DepartmentListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{telusVoting.Delete}" onclick="document.getElementById('DepartmentListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{telusVoting.DepartmentMenuItem_committeeList}" icon="ui-icon-search"  action="#{departmentController.navigateCommitteeList}" disabled="#{empty departmentController.selected.committeeList}" ajax="false"/>  
                <p:menuitem value="#{telusVoting.DepartmentMenuItem_personList}" icon="ui-icon-search"  action="#{departmentController.navigatePersonList}" disabled="#{empty departmentController.selected.personList}" ajax="false"/>  
                <p:menuitem value="#{telusVoting.DepartmentMenuItem_areaId}" icon="ui-icon-search"  actionListener="#{departmentController.prepareAreaId}" update=":AreaViewForm" oncomplete="PF('AreaViewDialog').show()" disabled="#{empty departmentController.selected.areaId}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{departmentController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{departmentController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{departmentController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:DepartmentDataTableContextMenu" listener="#{departmentController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:DepartmentDataTableContextMenu" listener="#{departmentController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{departmentController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('DepartmentListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListDepartmentTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.name}" filterBy="#{item.name}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListDepartmentTitle_name}"/>
                    </f:facet>
                    <h:outputText value="#{item.name}"/>
                </p:column>


                <p:column sortBy="#{item.areaId.name}" filterBy="#{item.areaId.name}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListDepartmentTitle_areaId}"/>
                    </f:facet>
                    <h:outputText value="#{item.areaId.name}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{telusVoting.Create}" actionListener="#{departmentController.prepareCreate}" update=":DepartmentCreateForm" oncomplete="PF('DepartmentCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{telusVoting.View}" update=":DepartmentViewForm" oncomplete="PF('DepartmentViewDialog').show()" disabled="#{empty departmentController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{telusVoting.Edit}" update=":DepartmentEditForm" oncomplete="PF('DepartmentEditDialog').show()" disabled="#{empty departmentController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{telusVoting.Delete}" actionListener="#{departmentController.delete}" update=":growl,datalist" disabled="#{empty departmentController.selected}">
                <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>