<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DepartmentViewDlg" widgetVar="DepartmentViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{telusVoting.ViewDepartmentTitle}" closeOnEscape="true">

            <h:form id="DepartmentViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{departmentController.selected != null}">

                        <h:outputText value="#{telusVoting.ViewDepartmentLabel_id}"/>
                        <h:outputText value="#{departmentController.selected.id}" title="#{telusVoting.ViewDepartmentTitle_id}"/>

                        <h:outputText value="#{telusVoting.ViewDepartmentLabel_name}"/>
                        <h:outputText value="#{departmentController.selected.name}" title="#{telusVoting.ViewDepartmentTitle_name}"/>

                        <h:outputText value="#{telusVoting.ViewDepartmentLabel_areaId}"/>
                        <h:outputText value="#{departmentController.selected.areaId.name}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{telusVoting.Close}" onclick="PF('DepartmentViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
