<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ElectionCategoryCreateDlg" widgetVar="ElectionCategoryCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{telusVoting.CreateElectionCategoryTitle}" closeOnEscape="true">

            <h:form id="ElectionCategoryCreateForm">

                <h:panelGroup id="display" rendered="#{electionCategoryController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{telusVoting.CreateElectionCategoryLabel_name}" for="name" />
                        <p:inputText id="name" value="#{electionCategoryController.selected.name}" title="#{telusVoting.CreateElectionCategoryTitle_name}" size="20" maxlength="20"/>

                        <p:outputLabel value="#{telusVoting.CreateElectionCategoryLabel_description}" for="description" />
                        <p:inputText id="description" value="#{electionCategoryController.selected.description}" title="#{telusVoting.CreateElectionCategoryTitle_description}" size="50" maxlength="50"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{electionCategoryController.saveNew}" value="#{telusVoting.Save}" update="display,:ElectionCategoryListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ElectionCategoryCreateDialog'));">
                        <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{telusVoting.Cancel}" oncomplete="PF('ElectionCategoryCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
