<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="ElectionCategoryListForm">

        <p:panel header="#{telusVoting.ListElectionCategoryTitle}">
            <p:contextMenu id="ElectionCategoryDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{telusVoting.Create}" onclick="document.getElementById('ElectionCategoryListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{telusVoting.View}" onclick="document.getElementById('ElectionCategoryListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{telusVoting.Edit}" onclick="document.getElementById('ElectionCategoryListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{telusVoting.Delete}" onclick="document.getElementById('ElectionCategoryListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{telusVoting.ElectionCategoryMenuItem_electionList}" icon="ui-icon-search"  action="#{electionCategoryController.navigateElectionList}" disabled="#{empty electionCategoryController.selected.electionList}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{electionCategoryController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{electionCategoryController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{electionCategoryController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:ElectionCategoryDataTableContextMenu"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:ElectionCategoryDataTableContextMenu"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('ElectionCategoryListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListElectionCategoryTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.name}" filterBy="#{item.name}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListElectionCategoryTitle_name}"/>
                    </f:facet>
                    <h:outputText value="#{item.name}"/>
                </p:column>


                <p:column sortBy="#{item.description}" filterBy="#{item.description}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListElectionCategoryTitle_description}"/>
                    </f:facet>
                    <h:outputText value="#{item.description}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{telusVoting.Create}" actionListener="#{electionCategoryController.prepareCreate}" update=":ElectionCategoryCreateForm" oncomplete="PF('ElectionCategoryCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{telusVoting.View}" update=":ElectionCategoryViewForm" oncomplete="PF('ElectionCategoryViewDialog').show()" disabled="#{empty electionCategoryController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{telusVoting.Edit}" update=":ElectionCategoryEditForm" oncomplete="PF('ElectionCategoryEditDialog').show()" disabled="#{empty electionCategoryController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{telusVoting.Delete}" actionListener="#{electionCategoryController.delete}" update=":growl,datalist" disabled="#{empty electionCategoryController.selected}">
                <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>