<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ElectionCategoryViewDlg" widgetVar="ElectionCategoryViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{telusVoting.ViewElectionCategoryTitle}" closeOnEscape="true">

            <h:form id="ElectionCategoryViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{electionCategoryController.selected != null}">

                        <h:outputText value="#{telusVoting.ViewElectionCategoryLabel_id}"/>
                        <h:outputText value="#{electionCategoryController.selected.id}" title="#{telusVoting.ViewElectionCategoryTitle_id}"/>

                        <h:outputText value="#{telusVoting.ViewElectionCategoryLabel_name}"/>
                        <h:outputText value="#{electionCategoryController.selected.name}" title="#{telusVoting.ViewElectionCategoryTitle_name}"/>

                        <h:outputText value="#{telusVoting.ViewElectionCategoryLabel_description}"/>
                        <h:outputText value="#{electionCategoryController.selected.description}" title="#{telusVoting.ViewElectionCategoryTitle_description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{telusVoting.Close}" onclick="PF('ElectionCategoryViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
