<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="CandidateEditDlg" widgetVar="CandidateEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{telusVoting.EditCandidateTitle}" closeOnEscape="true">

            <h:form id="CandidateEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{candidateController.selected != null}">


                        <h:outputLabel value="#{telusVoting.EditCandidateLabel_id}" for="id" />
                        <h:outputText id="id" value="#{candidateController.selected.id}" />

                        <p:outputLabel value="#{telusVoting.EditCandidateLabel_email}" for="email" />
                        <p:inputText id="email" value="#{candidateController.selected.email}" title="#{telusVoting.EditCandidateTitle_email}" size="45" maxlength="45"/>

                        <p:outputLabel value="#{telusVoting.EditCandidateLabel_committeeId}" for="committeeId" />
                        <p:selectOneMenu id="committeeId" value="#{candidateController.selected.committeeId}" required="true" requiredMessage="#{telusVoting.EditCandidateRequiredMessage_committeeId}" converter="committeeConverter">
                            <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                            <f:selectItems value="#{committeeController.items}"
                                           var="committeeIdItem"
                                           itemValue="#{committeeIdItem}"
                                           itemLabel="#{committeeIdItem.name.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{telusVoting.EditCandidateLabel_personId}" for="personId" />
                        <p:selectOneMenu id="personId" value="#{candidateController.selected.personId}" required="true" requiredMessage="#{telusVoting.EditCandidateRequiredMessage_personId}" converter="personConverter">
                            <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                            <f:selectItems value="#{personController.items}"
                                           var="personIdItem"
                                           itemValue="#{personIdItem}"
                                           itemLabel="#{personIdItem.name.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{candidateController.save}" value="#{telusVoting.Save}" update="display,:CandidateListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('CandidateEditDialog'));">
                        <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{telusVoting.Cancel}" oncomplete="PF('CandidateEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
