<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="CandidateListForm">

        <p:panel header="#{telusVoting.ListCandidateTitle}">
            <p:contextMenu id="CandidateDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{telusVoting.Create}" onclick="document.getElementById('CandidateListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{telusVoting.View}" onclick="document.getElementById('CandidateListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{telusVoting.Edit}" onclick="document.getElementById('CandidateListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{telusVoting.Delete}" onclick="document.getElementById('CandidateListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{telusVoting.CandidateMenuItem_committeeId}" icon="ui-icon-search"  actionListener="#{candidateController.prepareCommitteeId}" update=":CommitteeViewForm" oncomplete="PF('CommitteeViewDialog').show()" disabled="#{empty candidateController.selected.committeeId}"/>  
                <p:menuitem value="#{telusVoting.CandidateMenuItem_personId}" icon="ui-icon-search"  actionListener="#{candidateController.preparePersonId}" update=":PersonViewForm" oncomplete="PF('PersonViewDialog').show()" disabled="#{empty candidateController.selected.personId}"/>  
                <p:menuitem value="#{telusVoting.CandidateMenuItem_voteList}" icon="ui-icon-search"  action="#{candidateController.navigateVoteList}" disabled="#{empty candidateController.selected.voteList}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{candidateController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{candidateController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{candidateController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:CandidateDataTableContextMenu" listener="#{candidateController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:CandidateDataTableContextMenu" listener="#{candidateController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{candidateController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('CandidateListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListCandidateTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.email}" filterBy="#{item.email}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListCandidateTitle_email}"/>
                    </f:facet>
                    <h:outputText value="#{item.email}"/>
                </p:column>


                <p:column sortBy="#{item.committeeId.name}" filterBy="#{item.committeeId.name}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListCandidateTitle_committeeId}"/>
                    </f:facet>
                    <h:outputText value="#{item.committeeId.name}"/>
                </p:column>


                <p:column sortBy="#{item.personId.name}" filterBy="#{item.personId.name}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListCandidateTitle_personId}"/>
                    </f:facet>
                    <h:outputText value="#{item.personId.name}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{telusVoting.Create}" actionListener="#{candidateController.prepareCreate}" update=":CandidateCreateForm" oncomplete="PF('CandidateCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{telusVoting.View}" update=":CandidateViewForm" oncomplete="PF('CandidateViewDialog').show()" disabled="#{empty candidateController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{telusVoting.Edit}" update=":CandidateEditForm" oncomplete="PF('CandidateEditDialog').show()" disabled="#{empty candidateController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{telusVoting.Delete}" actionListener="#{candidateController.delete}" update=":growl,datalist" disabled="#{empty candidateController.selected}">
                <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>