<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CandidateViewDlg" widgetVar="CandidateViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{telusVoting.ViewCandidateTitle}" closeOnEscape="true">

            <h:form id="CandidateViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{candidateController.selected != null}">

                        <h:outputText value="#{telusVoting.ViewCandidateLabel_id}"/>
                        <h:outputText value="#{candidateController.selected.id}" title="#{telusVoting.ViewCandidateTitle_id}"/>

                        <h:outputText value="#{telusVoting.ViewCandidateLabel_email}"/>
                        <h:outputText value="#{candidateController.selected.email}" title="#{telusVoting.ViewCandidateTitle_email}"/>

                        <h:outputText value="#{telusVoting.ViewCandidateLabel_committeeId}"/>
                        <h:outputText value="#{candidateController.selected.committeeId.name}"/>

                        <h:outputText value="#{telusVoting.ViewCandidateLabel_personId}"/>
                        <h:outputText value="#{candidateController.selected.personId.name}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{telusVoting.Close}" onclick="PF('CandidateViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
