<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/maintenance/voter_template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{telusVoting.Stats}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h1>VOTING STATS:</h1>
            <h:form>
                <div class="ui-g ui-fluid">

                    <h:panelGroup id="display">
                        <p:panelGrid columns="2" columnClasses="column">
                            <p:outputLabel value="#{telusVoting.CreateElectionLabel_electionCategoryId}" for="electionCategoryId" />
                            <p:selectOneMenu id="electionCategoryId" value="#{statsController.selectedElectionCategory}" required="true" requiredMessage="#{telusVoting.CreateElectionRequiredMessage_electionCayItegoryId}" converter="electionCategoryConverter">
                                <p:ajax listener="#{statsController.onElectionCategoryChange()}" update="electionId" />
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{electionCategoryController.items}"
                                               var="electionCategoryIdItem"
                                               itemValue="#{electionCategoryIdItem}"
                                               itemLabel="#{electionCategoryIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                            <p:outputLabel value="#{telusVoting.CreateVoteLabel_electionId}" for="electionId" />
                            <p:selectOneMenu id="electionId" value="#{statsController.selectedElection}" required="true" requiredMessage="#{telusVoting.CreateVoteRequiredMessage_electionId}" converter="electionConverter">
                                <p:ajax listener="#{statsController.onElectionChange()}" update="votes" />
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{statsController.electionList}"
                                               var="electionIdItem"
                                               itemValue="#{electionIdItem}"
                                               itemLabel="#{electionIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>

                        </p:panelGrid>
                    </h:panelGroup>



                    <div class="card card-w-title">
                        <p:poll interval="3" update="votes" />
                        <p:chart id="votes" type="pie" model="#{statsController.livePieModel}" style="width:800px;height:400px"/>
                    </div>



                </div>
            </h:form>
        </ui:define>

    </ui:composition>

</html>