<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="VoteCreatePage" lazy="true">
        <pm:header title="#{telusVoting.CreateVoteTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{telusVoting.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:VoteListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="VoteCreateForm">

                <h:panelGroup id="display" rendered="#{voteController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.CreateVoteLabel_date}" for="date" />
                            <p:calendar id="date" pattern="MM/dd/yyyy" value="#{voteController.selected.date}" title="#{telusVoting.CreateVoteTitle_date}"  showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.CreateVoteLabel_electionId}" for="electionId" />
                            <p:selectOneMenu id="electionId" value="#{voteController.selected.electionId}" required="true" requiredMessage="#{telusVoting.CreateVoteRequiredMessage_electionId}" converter="electionConverter">
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{electionController.items}"
                                               var="electionIdItem"
                                               itemValue="#{electionIdItem}"
                                               itemLabel="#{electionIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.CreateVoteLabel_candidateId}" for="candidateId" />
                            <p:selectOneMenu id="candidateId" value="#{voteController.selected.candidateId}" required="true" requiredMessage="#{telusVoting.CreateVoteRequiredMessage_candidateId}" converter="candidateConverter">
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{candidateController.items}"
                                               var="candidateIdItem"
                                               itemValue="#{candidateIdItem}"
                                               itemLabel="#{candidateIdItem.id.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.CreateVoteLabel_personId}" for="personId" />
                            <p:selectOneMenu id="personId" value="#{voteController.selected.personId}" required="true" requiredMessage="#{telusVoting.CreateVoteRequiredMessage_personId}" converter="personConverter">
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{personController.items}"
                                               var="personIdItem"
                                               itemValue="#{personIdItem}"
                                               itemLabel="#{personIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{voteController.saveNew}" value="#{telusVoting.Save}" update="display,:VoteListPage:VoteListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:VoteListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>