<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="VoteViewPage" lazy="true">
        <pm:header title="#{telusVoting.ViewVoteTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{telusVoting.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:VoteListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="VoteViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{voteController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewVoteLabel_id}"/>
                            <h:outputText value="#{voteController.selected.id}" title="#{telusVoting.ViewVoteTitle_id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewVoteLabel_date}"/>
                            <h:outputText value="#{voteController.selected.date}" title="#{telusVoting.ViewVoteTitle_date}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewVoteLabel_electionId}"/>
                            <h:outputText value="#{voteController.selected.electionId.name}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewVoteLabel_candidateId}"/>
                            <h:outputText value="#{voteController.selected.candidateId.id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{telusVoting.ViewVoteLabel_personId}"/>
                            <h:outputText value="#{voteController.selected.personId.name}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>