<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersonCreateDlg" widgetVar="PersonCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{telusVoting.CreatePersonTitle}" closeOnEscape="true">

            <h:form id="PersonCreateForm">

                <h:panelGroup id="display" rendered="#{personController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{telusVoting.CreatePersonLabel_uid}" for="uid" />
                        <p:inputText id="uid" value="#{personController.selected.uid}" title="#{telusVoting.CreatePersonTitle_uid}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{telusVoting.CreatePersonLabel_password}" for="password" />
                        <p:inputText id="password" value="#{personController.selected.password}" title="#{telusVoting.CreatePersonTitle_password}" size="20" maxlength="20"/>

                        <p:outputLabel value="#{telusVoting.CreatePersonLabel_name}" for="name" />
                        <p:inputText id="name" value="#{personController.selected.name}" title="#{telusVoting.CreatePersonTitle_name}" size="45" maxlength="45"/>

                        <p:outputLabel value="#{telusVoting.CreatePersonLabel_surname}" for="surname" />
                        <p:inputText id="surname" value="#{personController.selected.surname}" title="#{telusVoting.CreatePersonTitle_surname}" size="45" maxlength="45"/>

                        <p:outputLabel value="#{telusVoting.CreatePersonLabel_departmentId}" for="departmentId" />
                        <p:selectOneMenu id="departmentId" value="#{personController.selected.departmentId}" required="true" requiredMessage="#{telusVoting.CreatePersonRequiredMessage_departmentId}" converter="departmentConverter">
                            <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                            <f:selectItems value="#{departmentController.items}"
                                           var="departmentIdItem"
                                           itemValue="#{departmentIdItem}"
                                           itemLabel="#{departmentIdItem.name.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{personController.saveNew}" value="#{telusVoting.Save}" update="display,:PersonListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('PersonCreateDialog'));">
                        <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{telusVoting.Cancel}" oncomplete="PF('PersonCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
