<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="PersonListForm">

        <p:panel header="#{telusVoting.ListPersonTitle}">
            <p:contextMenu id="PersonDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{telusVoting.Create}" onclick="document.getElementById('PersonListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{telusVoting.View}" onclick="document.getElementById('PersonListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{telusVoting.Edit}" onclick="document.getElementById('PersonListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{telusVoting.Delete}" onclick="document.getElementById('PersonListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{telusVoting.PersonMenuItem_candidateList}" icon="ui-icon-search"  action="#{personController.navigateCandidateList}" disabled="#{empty personController.selected.candidateList}" ajax="false"/>  
                <p:menuitem value="#{telusVoting.PersonMenuItem_departmentId}" icon="ui-icon-search"  actionListener="#{personController.prepareDepartmentId}" update=":DepartmentViewForm" oncomplete="PF('DepartmentViewDialog').show()" disabled="#{empty personController.selected.departmentId}"/>  
                <p:menuitem value="#{telusVoting.PersonMenuItem_voteList}" icon="ui-icon-search"  action="#{personController.navigateVoteList}" disabled="#{empty personController.selected.voteList}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{personController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{personController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{personController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:PersonDataTableContextMenu" listener="#{personController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:PersonDataTableContextMenu" listener="#{personController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{personController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('PersonListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListPersonTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.uid}" filterBy="#{item.uid}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListPersonTitle_uid}"/>
                    </f:facet>
                    <h:outputText value="#{item.uid}"/>
                </p:column>


                <p:column sortBy="#{item.password}" filterBy="#{item.password}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListPersonTitle_password}"/>
                    </f:facet>
                    <h:outputText value="#{item.password}"/>
                </p:column>


                <p:column sortBy="#{item.name}" filterBy="#{item.name}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListPersonTitle_name}"/>
                    </f:facet>
                    <h:outputText value="#{item.name}"/>
                </p:column>


                <p:column sortBy="#{item.surname}" filterBy="#{item.surname}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListPersonTitle_surname}"/>
                    </f:facet>
                    <h:outputText value="#{item.surname}"/>
                </p:column>


                <p:column sortBy="#{item.departmentId.name}" filterBy="#{item.departmentId.name}">
                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListPersonTitle_departmentId}"/>
                    </f:facet>
                    <h:outputText value="#{item.departmentId.name}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{telusVoting.Create}" actionListener="#{personController.prepareCreate}" update=":PersonCreateForm" oncomplete="PF('PersonCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{telusVoting.View}" update=":PersonViewForm" oncomplete="PF('PersonViewDialog').show()" disabled="#{empty personController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{telusVoting.Edit}" update=":PersonEditForm" oncomplete="PF('PersonEditDialog').show()" disabled="#{empty personController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{telusVoting.Delete}" actionListener="#{personController.delete}" update=":growl,datalist" disabled="#{empty personController.selected}">
                <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>