<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersonViewDlg" widgetVar="PersonViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{telusVoting.ViewPersonTitle}" closeOnEscape="true">

            <h:form id="PersonViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{personController.selected != null}">

                        <h:outputText value="#{telusVoting.ViewPersonLabel_id}"/>
                        <h:outputText value="#{personController.selected.id}" title="#{telusVoting.ViewPersonTitle_id}"/>

                        <h:outputText value="#{telusVoting.ViewPersonLabel_uid}"/>
                        <h:outputText value="#{personController.selected.uid}" title="#{telusVoting.ViewPersonTitle_uid}"/>

                        <h:outputText value="#{telusVoting.ViewPersonLabel_password}"/>
                        <h:outputText value="#{personController.selected.password}" title="#{telusVoting.ViewPersonTitle_password}"/>

                        <h:outputText value="#{telusVoting.ViewPersonLabel_name}"/>
                        <h:outputText value="#{personController.selected.name}" title="#{telusVoting.ViewPersonTitle_name}"/>

                        <h:outputText value="#{telusVoting.ViewPersonLabel_surname}"/>
                        <h:outputText value="#{personController.selected.surname}" title="#{telusVoting.ViewPersonTitle_surname}"/>

                        <h:outputText value="#{telusVoting.ViewPersonLabel_departmentId}"/>
                        <h:outputText value="#{personController.selected.departmentId.name}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{telusVoting.Close}" onclick="PF('PersonViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
