<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/maintenance/login_template.xhtml">
        <ui:define name="title">
            <h:outputText value="Login"></h:outputText>
        </ui:define>
        <ui:define name="body">

            <h:form>            


                <p:growl id="growl" sticky="true" showDetail="true" life="3000" />

                <p:dialog header="Login" widgetVar="dlg" resizable="false" visible="true" closable="false">
                    <h:panelGrid columns="2" cellpadding="5">
                        
                        
                        
                        <p:outputLabel value="STEP 1: Select election category" for="electionCategoryId" />
                            <p:selectOneMenu id="electionCategoryId" value="#{statsController.selectedElectionCategory}" required="true" requiredMessage="#{telusVoting.CreateElectionRequiredMessage_electionCayItegoryId}" converter="electionCategoryConverter">
                                <p:ajax listener="#{statsController.onElectionCategoryChange()}" update="electionId" />
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{electionCategoryController.items}"
                                               var="electionCategoryIdItem"
                                               itemValue="#{electionCategoryIdItem}"
                                               itemLabel="#{electionCategoryIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                            <p:outputLabel value="STEP 2: Select election" for="electionId" />
                            <p:selectOneMenu id="electionId" value="#{loginView.selectedElection}" required="true" requiredMessage="#{telusVoting.CreateVoteRequiredMessage_electionId}" converter="electionConverter">
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{statsController.electionList}"
                                               var="electionIdItem"
                                               itemValue="#{electionIdItem}"
                                               itemLabel="#{electionIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        
                        
                        
                        <h:outputLabel for="username" value="STEP 3: Username" />
                        <p:inputText id="username" value="#{loginView.username}" required="true" label="username" />

                        <h:outputLabel for="password" value="STEP 4: Password" />
                        <p:password id="password" value="#{loginView.password}" required="true" label="password" />

                        <f:facet name="footer">
                            <h:panelGrid columns="2" cellpadding="5">
                                <p:commandButton value="Login" update="growl" actionListener="#{loginView.login}"
                                                 oncomplete="handleLoginRequest(xhr, status, args)" />
                                <p:button value="Register" outcome="/register/register.xhtml" />
                            </h:panelGrid>

                        </f:facet>  
                    </h:panelGrid>
                </p:dialog>
            </h:form>

            <script type="text/javascript">
                function handleLoginRequest(xhr, status, args) {
                    if (args.validationFailed || !args.loggedIn) {
                        PF('dlg').jq.effect("shake", {times: 5}, 100);
                    } else {
                        PF('dlg').hide();
                        $('#loginLink').fadeOut();
                    }
                }
            </script>

        </ui:define>




    </ui:composition>

</html>
