<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="CandidateEditPage" lazy="true">
        <pm:header title="#{telusVoting.EditCandidateTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{telusVoting.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:CandidateListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="CandidateEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{candidateController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{telusVoting.EditCandidateLabel_id}" for="id" />
                            <h:outputText id="id" value="#{candidateController.selected.id}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.EditCandidateLabel_email}" for="email" />
                            <p:inputText id="email" value="#{candidateController.selected.email}" title="#{telusVoting.EditCandidateTitle_email}" size="45" maxlength="45"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.EditCandidateLabel_committeeId}" for="committeeId" />
                            <p:selectOneMenu id="committeeId" value="#{candidateController.selected.committeeId}" required="true" requiredMessage="#{telusVoting.EditCandidateRequiredMessage_committeeId}" converter="committeeConverter">
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{committeeController.items}"
                                               var="committeeIdItem"
                                               itemValue="#{committeeIdItem}"
                                               itemLabel="#{committeeIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.EditCandidateLabel_personId}" for="personId" />
                            <p:selectOneMenu id="personId" value="#{candidateController.selected.personId}" required="true" requiredMessage="#{telusVoting.EditCandidateRequiredMessage_personId}" converter="personConverter">
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{personController.items}"
                                               var="personIdItem"
                                               itemValue="#{personIdItem}"
                                               itemLabel="#{personIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{candidateController.save}" value="#{telusVoting.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:CandidateListPage:CandidateListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:CandidateListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>