<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="CommitteeEditPage" lazy="true">
        <pm:header title="#{telusVoting.EditCommitteeTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{telusVoting.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:CommitteeListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="CommitteeEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{committeeController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{telusVoting.EditCommitteeLabel_id}" for="id" />
                            <h:outputText id="id" value="#{committeeController.selected.id}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.EditCommitteeLabel_name}" for="name" />
                            <p:inputText id="name" value="#{committeeController.selected.name}" title="#{telusVoting.EditCommitteeTitle_name}" size="45" maxlength="45"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{telusVoting.EditCommitteeLabel_departmentId}" for="departmentId" />
                            <p:selectOneMenu id="departmentId" value="#{committeeController.selected.departmentId}" required="true" requiredMessage="#{telusVoting.EditCommitteeRequiredMessage_departmentId}" converter="departmentConverter">
                                <f:selectItem itemLabel="#{telusVoting.SelectOneMessage}"/>
                                <f:selectItems value="#{departmentController.items}"
                                               var="departmentIdItem"
                                               itemValue="#{departmentIdItem}"
                                               itemLabel="#{departmentIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{committeeController.save}" value="#{telusVoting.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:CommitteeListPage:CommitteeListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:CommitteeListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>