<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="CommitteeListPage">
        <pm:header title="#{telusVoting.ListCommitteeTitle}">
            <h:form>
                <p:commandButton id="backButton"   styleClass="ui-btn-left  ui-btn-inline" icon="ui-icon-arrow-l" value="#{myBundle.Back}" action="#{mobilePageController.navigateBackInHistory('/maintenance-mobile/index')}"/>
                <p:commandButton id="createButton" styleClass="ui-btn-right ui-btn-inline" icon="ui-icon-plus"    value="#{telusVoting.Create}" update=":CommitteeCreatePage:CommitteeCreateForm" actionListener="#{committeeController.prepareCreate}" action="#{mobilePageController.navigateWithHistory('pm:CommitteeCreatePage')}">
                    <f:actionListener binding="#{currentPageListener}"/>
                </p:commandButton>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="CommitteeListForm">

                <p:dataList id="datalist"
                            paginator="true"
                            rows="10"
                            rowsPerPageTemplate="10,20,30,40,50"
                            pt:data-inset="true"
                            value="#{committeeController.items}"
                            var="item">

                    <f:facet name="header">
                        <h:outputText value="#{telusVoting.ListCommitteeTitle}"/>
                    </f:facet>

                    <p:commandLink update=":CommitteeEditPage:CommitteeEditForm" action="pm:CommitteeEditPage">
                        <p>



                            <h:outputText value="#{item.id}"/>



                            ,&nbsp;
                            <h:outputText value="#{item.name}"/>




                            ,&nbsp;
                            <h:outputText value="#{item.departmentId.name}"/>

                        </p>
                        <f:setPropertyActionListener value="#{item}" target="#{committeeController.selected}" />
                    </p:commandLink>

                    <f:facet name="footer">
                        <h:outputText value="#{telusVoting.ListCommitteeTitle}"/>
                    </f:facet>

                </p:dataList>
            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>