<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CountryCreateDlg" widgetVar="CountryCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{telusVoting.CreateCountryTitle}" closeOnEscape="true">

            <h:form id="CountryCreateForm">

                <h:panelGroup id="display" rendered="#{countryController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{telusVoting.CreateCountryLabel_code}" for="code" />
                        <p:inputText id="code" value="#{countryController.selected.code}" title="#{telusVoting.CreateCountryTitle_code}" size="10" maxlength="10"/>

                        <p:outputLabel value="#{telusVoting.CreateCountryLabel_name}" for="name" />
                        <p:inputText id="name" value="#{countryController.selected.name}" title="#{telusVoting.CreateCountryTitle_name}" size="45" maxlength="45"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{countryController.saveNew}" value="#{telusVoting.Save}" update="display,:CountryListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('CountryCreateDialog'));">
                        <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{telusVoting.Cancel}" oncomplete="PF('CountryCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
