<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="CountryEditDlg" widgetVar="CountryEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{telusVoting.EditCountryTitle}" closeOnEscape="true">

            <h:form id="CountryEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{countryController.selected != null}">


                        <h:outputLabel value="#{telusVoting.EditCountryLabel_id}" for="id" />
                        <h:outputText id="id" value="#{countryController.selected.id}" />

                        <p:outputLabel value="#{telusVoting.EditCountryLabel_code}" for="code" />
                        <p:inputText id="code" value="#{countryController.selected.code}" title="#{telusVoting.EditCountryTitle_code}" size="10" maxlength="10"/>

                        <p:outputLabel value="#{telusVoting.EditCountryLabel_name}" for="name" />
                        <p:inputText id="name" value="#{countryController.selected.name}" title="#{telusVoting.EditCountryTitle_name}" size="45" maxlength="45"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{countryController.save}" value="#{telusVoting.Save}" update="display,:CountryListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('CountryEditDialog'));">
                        <p:confirm header="#{telusVoting.ConfirmationHeader}" message="#{telusVoting.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{telusVoting.Cancel}" oncomplete="PF('CountryEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
