<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CountryViewDlg" widgetVar="CountryViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{telusVoting.ViewCountryTitle}" closeOnEscape="true">

            <h:form id="CountryViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{countryController.selected != null}">

                        <h:outputText value="#{telusVoting.ViewCountryLabel_id}"/>
                        <h:outputText value="#{countryController.selected.id}" title="#{telusVoting.ViewCountryTitle_id}"/>

                        <h:outputText value="#{telusVoting.ViewCountryLabel_code}"/>
                        <h:outputText value="#{countryController.selected.code}" title="#{telusVoting.ViewCountryTitle_code}"/>

                        <h:outputText value="#{telusVoting.ViewCountryLabel_name}"/>
                        <h:outputText value="#{countryController.selected.name}" title="#{telusVoting.ViewCountryTitle_name}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{telusVoting.Close}" onclick="PF('CountryViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
